<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Contact</title>
    <meta name="description" content="Welcome" />
    <style type="text/css">
      a:hover { text-decoration: underline !important; }
    </style>
  </head>
  <body
    marginheight="0"
    topmargin="0"
    marginwidth="0"
    style="margin: 0px; background-color: #181818"
    leftmargin="0"
  >
    <!--100% body table-->
    <table
      cellspacing="0"
      border="0"
      cellpadding="0"
      width="100%"
      bgcolor="#181818"
      style="
        @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);
        font-family: 'Open Sans', sans-serif;
      "
    >
      <tr>
        <td>
          <table
            style="background-color: #181818; max-width: 670px; margin: 0 auto"
            width="100%"
            border="0"
            align="center"
            cellpadding="0"
            cellspacing="0"
          >
            <tr>
              <td style="height: 80px">&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: center">
                <a
                  href="https://www.dsmeglobal.com/"
                  title="logo"
                  target="_blank"
                >
                  <img
                    width="50"
                    src="https://res.cloudinary.com/mehfoozurrehman/image/upload/v1665553288/icon_fdv8tq.png"
                    title="logo"
                    alt="logo"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td style="height: 20px">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table
                  width="95%"
                  border="0"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    max-width: 670px;
                    background: #242424;
                    border-radius: 10px;
                    text-align: center;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  "
                >
                  <tr>
                    <td style="height: 50px">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="padding: 0 50px">
                      <h1
                        style="
                          color: #fff;
                          font-weight: 500;
                          margin: 0;
                          font-size: 32px;
                          font-family: 'Rubik', sans-serif;
                        "
                      >
                        Hey there user submitted contact 🫠
                      </h1>
                      <span
                        style="
                          display: inline-block;
                          vertical-align: middle;
                          margin: 29px 0 26px;
                          border-bottom: 1px solid #cecece;
                          width: 100px;
                        "
                      ></span>
                      <p
                        style="
                          color: #f6f6f6;
                          font-size: 15px;
                          line-height: 24px;
                          margin: 0;
                        "
                      >
                        <b>Name:</b>
                        {{name}}
                      </p>
                      <p
                        style="
                          color: #f6f6f6;
                          font-size: 15px;
                          line-height: 24px;
                          margin: 0;
                        "
                      >
                        <b>Company:</b>
                        {{company}}
                      </p>
                      <p
                        style="
                          color: #f6f6f6;
                          font-size: 15px;
                          line-height: 24px;
                          margin: 0;
                        "
                      >
                        <b>Email:</b>
                        {{email}}
                      </p>
                      <p
                        style="
                          color: #f6f6f6;
                          font-size: 15px;
                          line-height: 24px;
                          margin: 0;
                        "
                      >
                        <b>Phone:</b>
                        {{phone}}
                      </p>
                      <p
                        style="
                          color: #f6f6f6;
                          font-size: 15px;
                          line-height: 24px;
                          margin: 0;
                        "
                      >
                        <b>Subject:</b>
                        {{subject}}
                      </p>
                      <p
                        style="
                          color: #f6f6f6;
                          font-size: 15px;
                          line-height: 24px;
                          margin: 0;
                        "
                      >
                        <b>Message:</b>
                        {{message}}
                      </p>
                      <a
                        href="https://www.dsmeglobal.com/"
                        style="
                          background: #4c51c4;
                          text-decoration: none !important;
                          font-weight: 500;
                          margin-top: 35px;
                          color: #fff;
                          text-transform: uppercase;
                          font-size: 14px;
                          padding: 10px 24px;
                          display: inline-block;
                          border-radius: 50px;
                        "
                      >https://aigron-webs.web.app/</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 50px">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td style="height: 20px">&nbsp;</td>
            </tr>
            <tr>
              <td style="text-align: center">
                <p
                  style="
                    font-size: 14px;
                    color: #f3f3f3;
                    line-height: 18px;
                    margin: 0 0 0;
                  "
                >
                  &copy;
                  <strong
                    style="color: #f3f3f3"
                  >https://aigron-webs.web.app/</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td style="height: 80px">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--/100% body table-->
  </body>
</html>